<form [formGroup]="form" (ngSubmit)="submit()">
    <label>Password: </label>
    <input type="password" formControlName="password">

    <div *ngIf="form.get('password')?.errors?.['required']">
        Password is required
    </div>
    <div *ngIf="form.get('password')?.errors?.['minlength']">
        Password must be at least 6 characters long
    </div>
    <div *ngIf="form.get('password')?.errors?.['passwordStrength']">
        Password must contain at least one number and one special character
    </div>

    <button type="submit" [disabled]="form.invalid">Submit</button>
</form>
