<h3>Question 18. hover effect using custom directive</h3>
<div class="card p-3 m-2" appHighlight style="width: 200px; background-color: yellowgreen;">
    <h5 class="card-title">Product Name</h5>
    <img src="headphones.png" alt="headphones" class="img-fluid">
    <p class="card-text">This is a cool Product.</p>
    <app-question19 [text]="'Add New'" [btnClass]="'btn-danger'"></app-question19>
</div>
<h3>Question 19. Reusable Button</h3>
<h5>reusable button is shown in question 17 and question 18 it is imported from question 19</h5>