<h3>💬 Feedback Form</h3>
    <form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" style="width:100%;">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>

      <mat-form-field appearance="outline" style="width:100%;">
        <mat-label>Message</mat-label>
        <textarea matInput rows="3" formControlName="message"></textarea>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Submit</button>
    </form>
