<h3>Question 20. If Form Input is empty, display error message</h3>
<div class="row">
  <div class="col-8">
    <form class="row g-3" #form="ngForm">
      <div class="col-md-4">
        <label class="form-label">First name</label>
        <input
          type="text"
          [(ngModel)]="studentObj.firstName"
          name="firstName"
          #fName="ngModel"
          class="form-control"
          required
          minlength="3"
        />
        <div class="text-danger">
            @if (fName.touched && fName.errors?.['required']) {
                <span>This is required</span>
            }@else if (fName.touched && fName.errors?.['minlength']){
                <span>Min 3 Char Required</span>
            }
        </div>
      </div>
      <div class="col-12">
        <div class="form-check">
          <input
            class="form-check-input"
            [(ngModel)]="studentObj.isAcceptTerms"
            name="isAcceptTerms"
            type="checkbox"
          />
          <label class="form-check-label" for="invalidCheck">
            Agree to terms and conditions
          </label>
        </div>
      </div>
      <div class="col-12">
        <button class="btn btn-primary mx-2" [disabled]="form.invalid" type="submit" (click)="onSubmit()">Submit</button>
      </div>
    </form>
  </div>
</div>
