<div class="container mt-4">
    <h2 class="text-center mb-4">1. 📝 Todo List</h2>
    
    <div class="input-group mb-3">
        <input type="text" [(ngModel)]="newTask" class="form-control" placeholder="Enter new task">
        <button class="btn btn-primary" (click)="addTask()">Add</button>
    </div>

    <ul class="list-group">
        <li *ngFor="let task of tasks; let i = index" class="list-group-item d-flex justify-content-between align-items-center">
            <div *ngIf="!task.editing">
                {{task.name}}
            </div>

            <div *ngIf="task.editing" class="w-75">
                <input [(ngModel)]="task.name" class="form-control">
            </div>

            <div>
                <button *ngIf="!task.editing" class="btn btn-sm btn-warnhing me-2" (click)="editTask(task)">Edit</button>
                <button *ngIf="task.editing" class="btn btn-sm btn-success me-2" (click)="saveTask(task)">Save</button>
                <button class="btn btn-sm btn-danger" (click)="deleteTask(i)">Delete</button>
            </div>
        </li>
    </ul>
</div>
