<div class="card">
    <h5 class="card-header text-danger">Product A</h5>
    <div class="card-body">
        <h6 class="card-title">Product Title</h6>
        <a [routerLink]="['/product-details', 'A']" class="btn btn-dark float-right">Details</a>
    </div>
</div>

<div class="card">
    <h5 class="card-header text-danger">Product B</h5>
    <div class="card-body">
        <h6 class="card-title">Product Title</h6>
        <a [routerLink]="['/product-details', 'B']" class="btn btn-dark float-right">Details</a>
    </div>
</div>

<div class="card">
    <h5 class="card-header text-danger">Product C</h5>
    <div class="card-body">
        <h6 class="card-title">Product Title</h6>
        <a [routerLink]="['/product-details', 'C']" class="btn btn-dark float-right">Details</a>
    </div>
</div>
